<% content_for(:side_menus) do -%>
  <% if login? -%>
    <h3>ブログメニュー</h3>
    <ul>
      <li><%= link_to_unless_current("投稿", new_blog_path) %></li>
      <li><%= link_to_unless_current("編集", edit_blog_path(entry)) %></li>
      <li><%= link_to_unless_current("削除", destroy_blog_path(entry)) %></li>
    </ul>
  <% end -%>
<% end -%>

<div class="entry">
  <h2><%= link_to h(entry.title), permlink_blog_path(:slug => entry.slug) %>
      <span class="date"><%= entry.created_at.strftime("%Y-%m-%d") %></span></h2>
  <div class="section">
    <%= BlueFeather.parse(entry.entry) %>
  </div>
  <div class="metadata">
    <span class="posted-at"><%= entry.created_at.in_time_zone("Tokyo") %>に投稿</span>
    <span class="posted-by">(<%=h entry.user.nickname %>)</span>
    <span class="permlink"><%= link_to "この投稿へのリンク", permlink_blog_path(:slug => entry.slug) %></span>
  </div>
</div>
