<div class="day">
<span class="date"><%= entry.updated_at %></span>
<div class="section">
<h3><%= h entry.title %></h3>
<%= entry.entry %>
<div class="footnote">
posted at <%= entry.updated_at %> by <%= entry.user.nickname %> permlink<br />
</div>
</div></div>

