<% unless controller.action_name == "index"
 content_for(:sub_menus) do -%>
  <h3>blog menu</h3>
  <ul>
    <li><%=  link_to_if(login?, "New", new_blog_path) %></li>
    <li><%=  link_to_if(login?, "Edit", edit_blog_path(entry)) %></li>
    <li><%=  link_to_if(login?, "Delete", blog_path(entry), :method => :delete) %></li>
  </ul>
<% end
end %>

<div class="day">
<h2><%= link_to h(entry.title), permlink_blog_path(:slug => entry.slug) %> <span class="date"><%= entry.created_at.strftime("%Y-%m-%d") %></span></h2>
<div class="section">
<%= BlueFeather.parse(entry.entry) %>
<div class="footnote">
Posted at <%= entry.updated_at %> by <%=h entry.user.nickname %> <%= link_to "permlink", permlink_blog_path(:slug => entry.slug) %>
</div>
</div></div>

