<%= content_for(:side_menus) do -%>
  <% if login? -%>
    <h3>ブログメニュー</h3>
    <ul>
      <li><%= link_to(h("#{entry.title}: 編集"),
                      edit_blog_path(entry)) %></li>
      <li><%= link_to(h("#{entry.title}: 削除"),
                      entry,
                      :confirm => "本当に削除しますか？",
                      :method => :delete) %></li>
    </ul>
  <% end -%>
<% end -%>

<div class="entry">
  <h2><%= link_to h(entry.title), blog_path(entry) %>
      <span class="date"><%= entry.created_at.strftime("%Y-%m-%d") %></span></h2>
  <div class="section">
    <%= BlueFeather.parse(entry.entry).html_safe %>
  </div>
  <div class="metadata">
    <span class="posted-at"><%= entry.created_at.in_time_zone("Tokyo") %>に投稿</span>
    <span class="posted-by">(<%=h entry.user.nickname %>)</span>
    <span class="permlink"><%= link_to "この投稿へのリンク", blog_path(entry) %></span>
  </div>
</div>
