<% content_for(:side_menus) do -%>
  <% if login? -%>
    <h3>ブログメニュー</h3>
    <ul>
      <li><%= link_to_unless_current("投稿", new_blog_path) %></li>
      <li><%= link_to_unless_current("編集", edit_blog_path(@blog)) %></li>
      <li><%= link_to_unless_current("削除", blog_path(@blog), :method => "delete") %></li>
    </ul>
  <% end -%>
<% end -%>

<div class="navigations">
  <span class="previous">
  <% prev_blog = Blog.find_by_id(@blog.id - 1)
     if prev_blog -%>
    <%= link_to h("<< #{prev_blog.title}"), blog_path(prev_blog) %>
  <% end -%>
  </span>

  <span class="right">
  <% next_blog = Blog.find_by_id(@blog.id + 1)
     if next_blog -%>
  <%= link_to h("#{next_blog.title} >>"), blog_path(next_blog) %>
  <% end -%>
  </span>
</div>

<h1><%= h(@blog.title) %></h1>

<div class="entry">
  <div class="section">
    <%= BlueFeather.parse(@blog.entry) %>
    <div class="metadata">
      <span class="posted-at"><%= @blog.created_at.in_time_zone("Tokyo") %>に投稿</span>
      <span class="posted-by">(<%=h @blog.user.nickname %>)</span>
      <span class="permlink"><%= link_to "この投稿へのリンク", permlink_blog_path(:slug => @blog.slug) %></span>
    </div>
  </div>
</div>
