<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= page_title %></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "taiyaki/taiyaki" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"%>
    <%= auto_discovery_link_tag :rss, {:controller => 'feed', :action => 'index'} %>
  </head>
  <body>
  <div class="main">
    <div class="header">
      <div class="title">
        <%= link_to([content_tag("span",
                                 image_tag("taiyaki-ru.png",
                                           :alt => "たいやきる？"),
                                 :class => "title"),
                     content_tag("span", "-", :class => "separator"),
                     content_tag("span", "たいやきとあんなことやこんなこと",
                                 :class => "subtitle")].join("\n"),
                    "/") %>
      </div>
      <div class="menu">
        <ul class="main-menu">
          <li>たいやき部について（準備中）</li>
          <li><%= link_to("入部案内", permlink_blog_path("how-to-join")) %></li>
          <li><%= link_to("活動情報", "http://qwik.jp/taiyaki/") %></li>
          <li><%= link_to("ブログ", blogs_path) %></li>
        </ul>
        <ul class="login-menu">
          <% unless controller_name == 'front' -%>
            <% if login? -%>
	      <li><%= h logined_user.nickname %>でログイン中</li>
	      <li><%= link_to "ログアウト",  logout_path %></li>
            <% else -%>
              <li><%= link_to "ログイン", login_path %></li>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    </div>

<!--p style="color: green"><%= flash[:notice] %></p-->

    <div class="content">
<%= yield %>
    </div>
  </div>

  <div class="sidebar">
    <div class="about-taiyaki-bu">
      <p><%= link_to(image_tag("taiyaki-sign.png", :alt => "入部案内"),
                     permlink_blog_path("how-to-join")) %>
    </div>
    <%= yield :side_menus %>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
  <%= render "shared/google_analytics" -%>
  </body>
</html>
