<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(@title) if @title -%></title>
    <%= stylesheet_link_tag "blue/blue" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" %>
    <% # javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
    <%= auto_discovery_link_tag :rss, {:controller => 'feed', :action => 'index'} %>
    <%= yield :head %>
  </head>
  <body>
  <div id="adjuster"><div class="main">
    <div id="head">
    <h1><%= link_to "たいやきる？", "/" %></h1>
    <p>たいやきとあんなことやこんなことを</p>
    </div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

  </div></div>
  <div class="adminmenu">
    <%= render :partial => "shared/loginmenu" %>
  </div>
  <div id="sidebar" class="sub">
    <h3>menu</h3>
    <ul>
      <li><%= link_to "top", :controller => "front", :action => "index" %></li>
      <li><%= link_to "blog", :controller => "blogs", :action => "index" %></li>
      <li>tour</li>
      <li>database</li>
      <li>resource</li>
      <%= yield :sub_menus %>
    </ul>
  </div>
  <div class="footer">
    <%= render "shared/footer" %>
  </div>
    <%= render "shared/google_analytics" -%>
  </body>
</html>

